{
  "title": "Сообщения",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id"
    },
    "key": {
      "type": "string",
      "title": "Ключ",
      "translatable": false
    },
    "value": {
      "type": "string",
      "title": "Значение",
      "translatable": true
    }
  }
}