{
  "title": "Подсказки",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id"
    },
    "group": {
      "type": "list",
      "title": "Группа",
      "list": [
        {
       	   "id": 1,
          "name": "Общие"
        }
      ]
    },
    "value": {
      "type": "string",
      "title": "Значение",
      "translatable": true
    }
  }
}