{
  "title": "Лиги",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id"
    },
    "index": {
      "type": "number",
      "title": "Номер",
      "translatable": false
    },
    "name": {
      "type": "string",
      "title": "Название",
      "translatable": true
    },
    "delta": {
     "type": "number",
      "title": "Дельта дивизиона",
      "translatable": false
    },
    "fight_count": {
     "type": "number",
      "title": "Минимальное кол-во боев",
      "translatable": false
    },
    "points": {
   	  "type": "number",
      "title": "Кол-во очков",
	    "translatable": false
   }
  }
}