{
  "title": "Товары",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id"
    },
    "name": {
      "type": "string",
      "title": "Name",
      "translatable": false
    },
    "title": {
      "type": "string",
      "title": "Название",
      "translatable": true
    },
    "desc": {
      "type": "string",
      "title": "Описание",
      "translatable": true
    },
    "image_url": {
      "type": "string",
      "title": "Картинка (абс.путь)",
      "translatable": false
    },
    "price": {
      "type": "number",
      "title": "Цена",
      "translatable": false
    }
  }
}