{
	"letters": { 
		"а": {"hard": 0, "gl": 1},
		"б": {"hard": 0, "gl": 0},
		"ж": {"hard": 1, "gl": 0},
		"у": {"hard": 1, "gl": 1},
		"р": {"hard": 0, "gl": 0},
		"з": {"hard": 0, "gl": 0},
		"и": {"hard": 0, "gl": 1},
		"н": {"hard": 0, "gl": 0},
		"е": {"hard": 0, "gl": 1},
		"ц": {"hard": 1, "gl": 0},
		"к": {"hard": 0, "gl": 0},
		"т": {"hard": 0, "gl": 0},
		"с": {"hard": 0, "gl": 0},
		"в": {"hard": 0, "gl": 0},
		"о": {"hard": 0, "gl": 1},
		"я": {"hard": 1, "gl": 1},
		"д": {"hard": 0, "gl": 0},
		"м": {"hard": 0, "gl": 0},
		"л": {"hard": 0, "gl": 0},
		"г": {"hard": 0, "gl": 0},
		"ю": {"hard": 1, "gl": 1},
		"х": {"hard": 1, "gl": 0},
		"ш": {"hard": 1, "gl": 0},
		"ъ": {"hard": 1, "gl": 0},
		"ы": {"hard": 1, "gl": 1},
		"ь": {"hard": 1, "gl": 0},
		"п": {"hard": 0, "gl": 0},
		"й": {"hard": 1, "gl": 0},
		"щ": {"hard": 1, "gl": 0},
		"ч": {"hard": 1, "gl": 0},
		"ё": {"hard": 1, "gl": 1},
		"ф": {"hard": 1, "gl": 0},
		"э": {"hard": 1, "gl": 1}
	}
}
