{
  "title": "Боты",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id"
    },
    "name": {
      "type": "string",
      "title": "Имя",
      "translatable": false
    },
    "img": {
      "type": "string",
      "title": "Картинка",
      "translatable": true
    },
    "league": {
     "type": "ref",
      "title": "Лига",
      "ref": "leagues",
      "translatable": false
    },
    "points": {
     "type": "number",
      "title": "Кол-во очков",
      "translatable": false
    }
  }
}