{
  "title": "Звуки",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id"
    },
    "key": {
      "type": "string",
      "title": "Key",
      "translatable": false
    },
    "value": {
      "type": "string",
      "title": "Путь до файла",
      "translatable": false
    },
    "loop": {
      "type": "list",
      "title": "Loop?",
      "list": [
        {
       	   "id": 1,
          "name": "Да"
        },
        {
          "id": 2,
          "name": "Нет"
        }
      ]
    }
  }
}